<!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <%- include partials/header.ejs %>

   <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
   <link rel="import" href="/bower_components/google-map/google-map.html">

</head>

<body style="background-color:#045BCB;">
<%- include('partials/nav'); %>
<h1>Brighton and Hove Albion</h1>

<img src="images/stadium-brighton-tickets-1200x630.jpg" alt="Stadium">

<p>Request tickets here below</p>

<!-- Ticket request form -->
<div class="container">
  <form action="action_page.php">

    <label for="Date">Date</label>
    <input type="date" id="dDate" name="Date">

    <label for="Venue">Venue</label>
    <select id="venue" name="venue">
      <option value="Brighton">Brighton</option>
      <option value="Manchester">Manchester</option>
      <option value="London">London</option>
    </select>

	<%- include partials/googlemaps.ejs %>
    <input type="submit" value="Submit">
  </form>
</div>

<%- include partials/footer.ejs %>

</body>
</html>
